<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIconFile</key>
	<string></string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>NSPrincipalClass</key>
	<string>OEGameCoreController</string>
	<key>OEGameCoreClass</key>
	<string>DolphinGameCore</string>
	<key>OEGameCoreOptions</key>
	<dict>
		<key>openemu.system.gc</key>
		<dict>
			<key>OEGameCoreHasGlitches</key>
			<true/>
		</dict>
		<key>openemu.system.wii</key>
		<dict>
			<key>OEGameCoreHasGlitches</key>
			<true/>
		</dict>
	</dict>
	<key>OEGameCorePlayerCount</key>
	<string>4</string>
	<key>OEProjectURL</key>
	<string>https://dolphin-emu.org/</string>
	<key>OESystemIdentifiers</key>
	<array>
		<string>openemu.system.gc</string>
		<string>openemu.system.wii</string>
	</array>
	<key>SUEnableAutomaticChecks</key>
	<true/>
	<key>SUFeedURL</key>
	<string>https://raw.githubusercontent.com/nickybmon/OpenEmu-Silicon/main/Appcasts/dolphin.xml</string>
</dict>
</plist>
